.vs/GroceryGo-API/config/applicationhost.config
*.v2
*.vsidx
*.suo
*.bin
*.dll
*.cache
*.props
*.pdb
GroceryGo-API/obj/Debug/net8.0/staticwebassets.build.json
GroceryGo-API/obj/Debug/net8.0/GroceryGo-API.sourcelink.json
GroceryGo-API/obj/Debug/net8.0/GroceryGo-API.MvcApplicationPartsAssemblyInfo.cs
GroceryGo-API/obj/Debug/net8.0/GroceryGo-API.AssemblyInfo.cs
*.Up2Date
GroceryGo-API/obj/project.assets.json
GroceryGo-API/bin/Debug/net8.0/appsettings.Development.json
.vs/GroceryGo-API/v17/HierarchyCache.v1.txt
.vs/GroceryGo-API/v17/DocumentLayout.json
.vs/GroceryGo-API/v17/DocumentLayout.backup.json
GroceryGo-API/bin/Debug/net8.0/GroceryGo-API.deps.json
*.exe
GroceryGo-API/bin/Debug/net8.0/GroceryGo-API.runtimeconfig.json
GroceryGo-API/obj/GroceryGo-API.csproj.nuget.dgspec.json
GroceryGo-API/obj/GroceryGo-API.csproj.nuget.g.targets
GroceryGo-API/obj/Debug/net8.0/ApiEndpoints.json
*.BuildWithSkipAnalyzers
GroceryGo-API/obj/Debug/net8.0/GroceryGo-API.csproj.FileListAbsolute.txt
